In [15]:
url = "https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue"
html_data = requests.get(url).text

In [16]:
soup = BeautifulSoup("html5lib")
print(soup.prettify())

<html>
 <body>
  <p>
   html5lib
  </p>
 </body>
</html>

In [19]:
gme_revenue.tail(5)

          Date Revenue
52  2010-01-31    3524
53  2009-10-31    1835
54  2009-07-31    1739
55  2009-04-30    1981
56  2009-01-31    3492