In [12]:
import yfinance as yf
data = yf.download(tickers="TSLA",period='1y')

[*********************100%***********************]  1 of 1 completed

In [4]:
import yfinance as yf

TSLA = yf.Ticker("SHOP")
TSLA_data = TSLA.history(period="max")

In [13]:
TSLA_data.reset_index(inplace=True)
TSLA_data.head(5)

,index,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,0,2015-05-20 00:00:00-04:00,1.700,1.700,1.700,1.700,0,0.0,0.0
1,1,2015-05-21 00:00:00-04:00,2.800,2.874,2.411,2.568,123039000,0.0,0.0
2,2,2015-05-22 00:00:00-04:00,2.607,3.110,2.600,2.831,28412000,0.0,0.0
3,3,2015-05-26 00:00:00-04:00,2.980,3.034,2.908,2.965,8202000,0.0,0.0
4,4,2015-05-27 00:00:00-04:00,3.067,3.081,2.700,2.750,7976000,0.0,0.0

In [18]:
! pip install beautifulsoup4

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4) (2.3.2.post1)